@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <div class="top-row-content">
                <div>
                    <div class="top-row-title">MSSQL Plan Viewer</div>
                    <div class="top-row-subtitle">SQL Server Showplan XML inspector</div>
                </div>
            </div>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unexpected error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
